@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

.center {
    top: 35%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.app-button-center {
    top: 65%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.center-bottom {
    top: 95%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.app-button {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 15px 7px 16px;
}

.impressum-link {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
}


img, .logo {
    width: 300px;
    height: 300px;
    max-width: 80vw;
}